<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
			<a class="navbar-brand" th:href="@{/factura/listarpedidos}"> <img
				th:src="@{/images/logo.png}" width="30" height="30"
				class="d-inline-block align-top" alt=""> La Chispa al Carbón
			</a>
			<!-- <a class="navbar-brand" th:href="@{/factura/listarpedidos}">La
				Chispa al Carbón</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/homeadmin}">Administración</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/factura/listarpedidos}">Pedidos</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/listarProductos}">Productos</a></li>
					<li class="nav-item active"><a class="nav-link" href="#about"
						th:href="@{/listar}">Clientes</a></li>
					<li class="nav-item active"><form th:action="@{/logout}"
							method="get">
							<button class="btn  btn-outline-danger btn-block align-right"
								name="registration" type="Submit">Salir</button>
						</form></li>



				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />

		<div class="footer-copyright py-3 text-center">
			<img class="img-responsive " width="30" height="30"
				th:src="@{/images/logo.png}" alt="Chispa logo" />© 2018 Todos los
			derechos reservados
		</div>



		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>