<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/factura/listarpedidos}" th:object="${cliente}"
					method="post">
					<div class="input-group mb-6">
						<input id="id" type="number" th:field="*{id}" class="form-control"
							placeholder="Número de teléfono" aria-label="Número de teléfono"
							aria-describedby="basic-addon2" />
					</div>
				</form>

				<div th:if="${#lists.isEmpty(facturas)}"
					class="alert alert-info my-4"
					th:text="'No hay pedidos registrados aún'"></div>

				<table th:if="${not #lists.isEmpty(facturas)}"
					class="table table-bordered table-striped my-4">
					<thead class="bg-dark text-white">
						<tr>
							<th>ID</th>
							<th>Cliente</th>
							<th>Observaciones</th>
							<th>Recibido</th>
							<th>Entregado</th>
							<th>Estado</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${facturas}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{'/factura/ver/' + ${factura.id}}"
								th:text="${factura.id}"></a></td>
							<td th:text="${factura.cliente}"></td>
							<td th:text="${factura.observacion}"></td>
							<td th:text="${factura.creado}"></td>
							<td th:text="${factura.entregado}"></td>
							<td><select class="form-control" id="estados" name="estados"
								onchange="">
									<option value="">Seleccione uno</option>
									<option th:each="estado : ${estados}"
										th:value="${estado.descripcion}"
										th:text="${estado.descripcion}"></option>
							</select></td>
							<td th:text="${factura.total}"></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>


	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>